{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">

    <div class="col"></div>
    <div class="col">
  
        <h1><strong>Secret World</strong></h1>
  
    </div>
    <div class="col">
  
      <h3><strong>Cüzdan : 1.500 Dinar</strong></h3>
  
    </div>
  
  </div>
  
  <br><br>

  <div class="card" style="width: 75rem; border-color: turquoise;">
    <div class="card-body">
      <h5 class="card-title">Final Bölümü</h5>
      <h5 class="card-title"><strong>Büyük Karşılaşma</strong></h5>
      <img src="{% static 'adventureapp/oda.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
      <ol>
      <p class="card-text">Katara o işareti yaptıktan sonra İzumi küçümseyici bir bakış attı çünkü onun hareketini kopyalamıştı.</p>
      <p class="card-text">İzumi'nin bakışlarını fark eden Katara biraz utandı ve İzumi'nin yüzüne bile bakmadı.</p>
      <p class="card-text">Katara İzumi'nin tüç gücüyle savaşmayı istiyordu ama ilk önce bu utanmışlığından kurtulmalıydı.</p>
      <p class="card-text">Katara bu olaylardan sonra odasına döndü.</p>
      </ol>
    </div>
  </div>

<br>

<div class="card" style="width: 75rem; border-color: turquoise;">
    <div class="card-body">
        <img src="{% static 'adventureapp/whitelightning.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
        <ol>
      <p class="card-text">Final günü geldiğinde etap başlar başlamaz ikisi de hızlı şekilde seri ataklarla başlamış ve birbirlerinin hız ve güçlerini test etmişlerdir.</p>
      <p class="card-text">Katara hava dalgası ve İzumi de yıldırım dalgası yapar ve saha çok şiddetli sallanır.</p>
      <p class="card-text">İzumi saldırından sonra hızlı şekilde küçük ama bir sürü yıldırımla saldırır ve Katara da büyük bir hortum yaparak İzumi'nin gözlerini kapatarak doğru hedeflemesini engellemek istemiştir ama bir tane de olsa küçük bir yıldırım isabet etmiştir.</p>
      <p class="card-text">Katara karşı saldırı için büyük hortumu İzumi'ye doğru ittirir ve İzumi de tek bir saldırısıyla büyük hortumu dondurmuş ve sonra da parçalara ayırmıştır.</p>
      </ol>
    </div>
  </div>

<br>

<div class="card" style="width: 75rem; border-color: turquoise;">
    <div class="card-body">
        <img src="{% static 'adventureapp/whiteair.webp' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
        <ol>
      <p class="card-text">Katara ve İzumi karşılaşmasında İzumi'nin gücü ve hızı bariz bir şekilde daha fazla olduğu halde maç on beş dakikayı çoktan geçmiştir.</p>
      <p class="card-text">Katara hızlı bir hava dalgası yaptıktan sonra hızlı bir şekilde diğer taraftan İzumi'ye saldırdıktan sonra İzumi havaya zıplar ki bu zaten Katara'nın planının bir parçasıdır.</p>
      <p class="card-text">Katara çevik bir atlayış yapıp alttan hava dalgası saldırısı yaptıktan sonra İzumi de uzun bir yıldırım kullanarak hava dalgasında bir boşluk yapar ve oradan aşağıya iner.</p>
      <p class="card-text">Katara aşağıya inerken İzumi de hızlı bir saldırı yapar ve Katara'nın göğsünü hedefler.</p>
      <p class="card-text">İzumi tam Katara'nın göğsünü kesecekken Katara çevresinddeki havayı itme gücü olarak kullanır ama bundan da sıyrılan İzumi Katara'nın göğsünü sonunda keser.</p>
      </ol>
    </div>
  </div>

<br>

<div class="card" style="width: 75rem; border-color: turquoise;">
    <div class="card-body">
        <img src="{% static 'adventureapp/grave.webp' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
        <ol>
      <p class="card-text">Katara kanlar içerisinde yere yığılırken Sai hemen Katara'nın yanına gitmiştir ve İzumi'yse onun düşündüğünden daha da fazla yaralandığını görünce orada donakalmıştır.</p>
      <p class="card-text">İzumi Katara'nın iyileşip karşısına çıkacağını düşünürken Katara'nın ölüm haberini duyunca büyük bir pişmanlık duyar çünkü kendisine bile söyliyemese de Katara'dan hoşlanmıştır.</p>
      <p class="card-text">İzumi'nin başta amacı sadece yaralayıp bayıltmakken kılıcını o sırada kontrol edemediği aklına gelmiş ve bu yüzden büyük bir pişmanlık duymuştur.</p>
      <p class="card-text">İzumi Katara'nın mezarına gelince mezarın başında Sai'yi görmüş , Sai'yle Katara hakkında biraz sohbet etmiş ve Katara hakkında bilgi almıştır.</p>
      <p class="card-text">İzumi Katara'nın mezarına bakarak bir daha böyle birşey yaşanırsa kılıcını sonsuza dek bırakacağını söyleyip yoluna devam etmiştir.</p>
      <p class="card-text">Sai de Katara'nın mezarına bakarak iyi bir dosttun , bu zamana dek yaptığın şeyler için teşekkürler deyip o da yoluna doğru devam eder.</p>
      </ol>
    </div>
  </div>

<br>

{% endblock %}