{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">

    <div class="col"></div>
    <div class="col">
  
        <h1><strong>Secret World</strong></h1>
  
    </div>
    <div class="col">
  
      <h3><strong>Cüzdan : 1.500 Dinar</strong></h3>
  
    </div>
  
  </div>
  
  <br><br>

  <div class="card" style="width: 75rem; border-color: turquoise;">
    <div class="card-body">
      <h5 class="card-title">Final Bölümü</h5>
      <h5 class="card-title"><strong>Büyük Karşılaşma</strong></h5>
      <img src="{% static 'adventureapp/greeneye.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
      <ol>
      <p class="card-text">Katara sinirle hızlandıktan sonra kılıcının öldür , bitir işini demesini artık duyamasa da Gojo'nun kafasını acı verici bir şekilde keser.</p>
      <p class="card-text">Katara'da bir terslik vardır. Katara Gojo'yu öldürdükten sonra gözü düzelmemiştir ve hala daha kılıcının kontrolündedir.</p>
      <p class="card-text">Turnuva alanındaki herkes bir değişiklik olduğunu anlasa da ses çıkarmamışlardır.</p>
      <p class="card-text">Bunu gören İzumi final maçının düşündüğünden daha tehlikeli olacağını anlamıştır.</p>
      </ol>
    </div>
  </div>

<br>

<div class="card" style="width: 75rem; border-color: turquoise;">
    <div class="card-body">
        <img src="{% static 'adventureapp/greenlightning.webp' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
        <ol>
      <p class="card-text">Katara final günü geldiğinde İzumi'ye acımasız bir bakış atıp seni beş dakikada yeneceğim demiştir.</p>
      <p class="card-text">İzumi de seni yenip normal Katara'yı geri getireceğim der. İkisi de birbirine hiç acımayacağı daha başlamadan bellidir.</p>
      <p class="card-text">Etap başladığı gibi ikisi de hızlı şekilde seri ataklarla başlamış ve birbirlerinin hız ve güçlerini test etmişlerdir.</p>
      <p class="card-text">Katara zehir dalgası saldırısı ve İzumi de yıldırım dalgası yapar ve saha çok şiddetli şekilde sallanır.</p>
      </ol>
    </div>
  </div>

<br>

<div class="card" style="width: 75rem; border-color: turquoise;">
    <div class="card-body">
        <img src="{% static 'adventureapp/bluepoisen.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
        <ol>
      <p class="card-text">Katara ve İzumi karşılaşmasında ikisinin de güç ve hız değerleri eşit olduğu için maç beş dakikayı çoktan geçmiştir.</p>
      <p class="card-text">İzumi alaycı bir şekilde ne oldu hala yenemedin der ve Katara da sinirli bir şekilde seni acımasızca öldüreceğim diye bağırır.</p>
      <p class="card-text">Katara hızlı bir zehir dalgası yaptıktan sonra hızlı bir şekilde diğer taraftan İzumi'ye saldırdıktan sonra İzumi havaya zıplar ki bu zaten Katara'nın planının bir parçasıdır.</p>
      <p class="card-text">Katara çevik bir atlayış yapıp alttan zehir dalgası saldırısı yaptıktan sonra İzumi de uzun bir yıldırım kullanarak zehir dalgasında bir boşluk yapar ve oradan aşağıya iner.</p>
      <p class="card-text">Katara aşağıya inerken İzumi de hızlı bir saldırı yapar ve Katara'nın boynunu hedefler.</p>
      </ol>
    </div>
  </div>

<br>

<div class="card" style="width: 75rem; border-color: turquoise;">
    <div class="card-body">
        <img src="{% static 'adventureapp/badending.webp' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
        <ol>
      <p class="card-text">İzumi boynuna yaklaştıkça Katara ile olan anıları gelir ve boynunu kesemeyeceğini anlar.</p>
      <p class="card-text">Katara'ysa İzumi'ye doğru saldırır ve İzumi Katara'nın ellerinde ölür.</p>
      <p class="card-text">İzumi ölmeden son kez Katara'ya bakıp hayata gözlerini yumarken Katara olanlardan sonra kendine gelir ve ne yaptığına inanamaz.</p>
      <p class="card-text">Katara İzumi'yi kollarına alıp giderken yeşil kılıcını orda bırakır ve artık para ödülü umurunda bile değildir.</p>
      <p class="card-text">İzumi'ye bir mezar yaptıktan sonra Katara İzumi'nin mezarına bakarak onun mezarına bakacağını ve onu hiç unutmayacağını söyler.</p>
      </ol>
    </div>
  </div>

<br>

{% endblock %}