{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">

    <div class="col"></div>
    <div class="col">
  
        <h1><strong>Secret World</strong></h1>
  
    </div>
    <div class="col">
  
      <h3><strong>Cüzdan : 1.000 Dinar</strong></h3>
  
    </div>
  
  </div>
  
  <br><br>

  <div class="card" style="width: 75rem; border-color: green;">
    <div class="card-body">
      <h5 class="card-title">4. Bölüm</h5>
      <h5 class="card-title"><strong>Antrenman</strong></h5>
      <img src="{% static 'adventureapp/star.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
      <ol>
      <p class="card-text">Katara iyileşdikten sonra ormanlık alana geldiğinde karşısında İzumi'yi gördü.</p>
      <p class="card-text">Tahta kılıçlarla antrenman yapacağını beklerken İzumi turnuvada kullandığı kılıcı çekince Katara'da kendi kılıcını çekmek zorunda kaldı.</p>
      <p class="card-text">Yaklaşık iki saat süren antrenmandan sonra Katara çimenlere yıkılmışken İzumi hala ayakta durabiliyordu.</p>
      <p class="card-text">İzumi ona elini uzattıktan sonra ikisi oturup biraz yıldızları izlediler.</p>
      </ol>
    </div>
  </div>

<br>

<div class="card" style="width: 75rem; border-color: green;">
  <div class="card-body">
    <img src="{% static 'adventureapp/night.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
    <ol>
    <p class="card-text">Sessizliği bozan İzumi Katara'ya kılıcına iyice alıştığını ve böyle giderse eğlenceli bir final olacağını söyler.</p>
    <p class="card-text">Katara da her gün çok çalışıyorum çünkü sana söz verdim ve turnuvada senle karşılaşana kadar kaybetmeyeceğim der.</p>
    <p class="card-text">Buna sevinen İzumi peki kazanırsan ne yapmayı düşünüyorsun diyince Katara da İzumi'ye bakarak ilk iş senin sırrını öğrenicem der.</p>
    <p class="card-text">Bunu beklemeyen İzumi sırrımı çok önemsiyorsun ama madem öyle istiyosun tamam o zaman anlaştık der.</p>
    </ol>
  </div>
</div>

<br>

<div class="card" style="width: 75rem; border-color: green;">
  <div class="card-body">
    <img src="{% static 'adventureapp/redkatana.jpeg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
    <ol>
    <p class="card-text">O günün yarını çeyrek finalde Katara'nın karşısına ünlü altılıdan kırmızı kılıçlı ve yine atılgan görünen birisi vardır . Adı da Yuuta'dır.</p>
    <p class="card-text">Katara'da Yuuta'da atik şekilde saldırılar yapıyordur ama bir gariplik vardır.Yuuta'nın kılıcından resmen alevler çıkıyodur.</p>
    <p class="card-text">Katara Yuuta'nın zorlu nir düşman olduğunu anlayarak hafif bir çizik atmaya çalışıyordur ama Yuuta'da durumu biliyordur ve de çevikliğini bu konuda iyi şekilde kullanıyor.</p>
    <p class="card-text">En sonunda siniri bozulmaya başlayan Katara garip bir ses duyar.O ses Katara'ya onu yenmek istiyorsun öyle değil mi o zaman bana izin ver der.</p>
    <p class="card-text">Katara buna şaşırsa da en kötü nolur ki zaten der ve izin verir.İzin verdiği gibi Katara'nın gözlerinin rengi yeşil olur ve çok daha hızlı ve de güçlü şekilde saldırmaya başlar.</p>
    <p class="card-text">Bu durumu anlamayan Yuuta için artık çok geçtir.Katara Yuuta'nın vücudunu ortadan ikiye ayırır ve savaş bittiği gibi Katara kendine gelir ve kendini suçlu hisseder.</p>
    </ol>
  </div>
</div>

<br>

<div class="card" style="width: 75rem; border-color: green;">
  <div class="card-body">
    <img src="{% static 'adventureapp/lightning.webp' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
    <ol>
    <p class="card-text">Olanları İzumi'ye anlatan Katara çok bitkin görünüyordur.İzumi'de kılıcını kontrol etmeyi öğrenmesini söyler.</p>
    <p class="card-text">Katara bunu nasıl yapacağını sorduğunda kılıcından korkmayarak başlaması gerektiğini yoksa vücudunun kontrolünü kılıcının alacağını söyler.</p>
    <p class="card-text">Bu olanları düşünerek yatan Katara yarınki yarı finali kazanarak İzumi'yle kapışırken kontrolden çıkarsa olabilecekleri aklından geçirince hafif korksada yorgun olduğu için uykuya dalar.</p>
    <p class="card-text">Yarı finallerde ilk önce İzumi'nin maçı vardır ve Katara'da İzumi'ye destek vermek amacıyla gelmiştir.</p>
    <p class="card-text">İzumi'nin karşısına gelen kişi ünlü altılıdan Rin gelmiştir.İzumi'nin maçı iki dakika sürmüş ve tek bir kılıç darbesiyle kılıcından gelen yıldırımlar Rin'i çizgiden dışarı atmıştır.</p>
    </ol>
  </div>
</div>

<br>

<div class="card" style="width: 75rem; border-color: green;">
  <div class="card-body">
    <img src="{% static 'adventureapp/parça.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
    <ol>
    <p class="card-text">Katara'nın karşısına da ünlü altılıdan sarı kılıçlı birisi vardı. Adı da Gojo'dur.</p>
    <p class="card-text">Gojo etap başlar başlamaz hızlı bir şekilde seri saldırılara başlar.Kılıcının özelliği olmadığı halde bu hızlı saldırılar bir çok yara bırakır.</p>
    <p class="card-text">Katara bundan kurtulmak için havaya zıplar ve zehir dalgası kullanır ama Gojo ondan da sıyrılır ve sen bu saldırılarla ölen ailenden farksızsın der. Gojo Katara'nın geçmişini bir şekilde biliyordur.</p>
    <p class="card-text">Her saldırıdan sıyrıldığında laf atan Gojo'ya karşı Katara'nın sabrı azalmıştır.</p>
    <p class="card-text">Katara'da Gojo hızını kullanamasın diye zemine doğrudan bir saldırı yapar. Sallanan zeminde dengesini sağlayamayan Gojo yere düşer.</p>
    <p class="card-text">Katara bu sinirinden ve ailesine attığı laflardan sonra hızlıca Gojo'ya doğru ilerler.</p>
    </ol>
    <a href="{% url 'adventureapp:bad' %}" class="btn btn-danger">Öldür</a>
    <a href="{% url 'adventureapp:line' %}" class="btn btn-danger">Çizgi Dışına Çıkar</a>
  </div>
</div>

<br>

{% endblock %}