{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">

    <div class="col"></div>
    <div class="col">
  
        <h1><strong>Secret World</strong></h1>
  
    </div>
    <div class="col">
  
      <h3><strong>Cüzdan : 500 Dinar</strong></h3>
  
    </div>
  
  </div>
  
  <br><br>

  <div class="card" style="width: 75rem; border-color: turquoise;">
    <div class="card-body">
      <h5 class="card-title">Final Bölümü</h5>
      <h5 class="card-title"><strong>Büyük Karşılaşma</strong></h5>
      <img src="{% static 'adventureapp/night.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
      <ol>
      <p class="card-text">Katara parka gittiğinde İzumi'yi gördü ve birlikte biraz oturdular.</p>
      <p class="card-text">Sessizliği bozan Katara İzumi'ye bakarak yarın bayağı heyecanlı ve eğlenceli bir gün olcak gibi , ne dersin diyince İzumi'de evet öyler der.</p>
      <p class="card-text">Katara da ne oldu beni niye çağırdın deyince İzumi de senle karşılaşmadan önce son kez daha görmek istedim dedi.</p>
      <p class="card-text">Katara'ysa merak etme ben seni seviyorum ve eğer ikimizden biri ölmezse beraber şehirlerde gezmeye devam edelim der.</p>
      <p class="card-text">İzumi de buna sevindem dedi ve o gece öyle tamamlandı.</p>
      </ol>
    </div>
  </div>

<br>

<div class="card" style="width: 75rem; border-color: turquoise;">
    <div class="card-body">
        <img src="{% static 'adventureapp/bluelightning.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
        <ol>
      <p class="card-text">Final günü geldiğinde etap başlar başlamaz ikisi de hızlı şekilde seri ataklarla başlamış ve birbirlerinin hız ve güçlerini test etmişlerdir.</p>
      <p class="card-text">Katara buz dalgası saldırısı ve İzumi de yıldırım dalgası yapar ve saha çok şiddetli sallanır.</p>
      <p class="card-text">İzumi saldırıdan sonra hızlı şekilde küçük ama bir sürü yıldırımla saldırır ve Katara da büyük bir buzdan kalkan yaparak çoğu saldırısını karşılar.</p>
      <p class="card-text">Katara karşı saldırı için büyük buz kalkanı İzumi'ye doğru ittirir ve İzumi de tek bir saldırısıyla büyük buzdan kalkanı paramparça yapar.</p>
      </ol>
    </div>
  </div>

<br>

<div class="card" style="width: 75rem; border-color: turquoise;">
    <div class="card-body">
        <img src="{% static 'adventureapp/blueice.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
        <ol>
      <p class="card-text">Katara ve İzumi karşılaşmasında İzumi'nin gücü ve hızı biraz daha fazla olduğu halde maç yirmi dakikayı çoktan geçmiştir.</p>
      <p class="card-text">Katara hızlı bir buz dalgası yaptıktan sonra hızlı bir şekilde diğer taraftan İzumi'ye saldırdıktan sonra İzumi havaya zıplar ki bu zaten Katara'nın planının bir parçasıdır.</p>
      <p class="card-text">Katara çevik bir atlayış yapıp alttan buz dalgası saldırısı yaptıktan sonra İzumi de uzun bir yıldırım kullanarak buz dalgasında bir boşluk yapar ve oradan aşağıya iner.</p>
      <p class="card-text">Katara aşağıya inerken İzumi de hızlı bir saldırı yapar ve Katara'nın göğsünü hedefler.</p>
      </ol>
    </div>
  </div>

<br>

<div class="card" style="width: 75rem; border-color: turquoise;">
    <div class="card-body">
        <img src="{% static 'adventureapp/park.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
        <ol>
      <p class="card-text">İzumi göğsüne kılıç yaklaştıkça Katara kendini geriye doğru adım atar ve İzumi'yi sınır çizgisine doğru yaklaştırır.</p>
      <p class="card-text">İzumi ne yapmak istediğini anladığı anda herşey için çok geçtir.</p>
      <p class="card-text">Katara İzumi'nin kılıcının hedefinden sıyrılır ve İzumi'yi çizginin ötesine doğru fırlatıcak bir tekme atar. Tekmeyle beraber İzumi sınır çizgisini geçer , Katara kazanan kişi olur ve ikisi de zarar görmemiş olur.</p>
      <p class="card-text">Katara İzumi'ye elini uzatıp onu çeker ve turnuva ödülünü aldıktan sonra İzumi'yi ve Sai'yi parka konuşmaya davet eder.</p>
      <p class="card-text">Katara Sai geldiğinde ona söz verdiği gibi ödülün yarısını verir ve İzumi geldiğinde de onla beraber başka şehirlerdeki turnuvaya beraber gitmeyi istediğini söyler.</p>
      <p class="card-text">İzumi neden diye sorduğunda Katara da çünkü seni seviyorum der ve İzumi de ben de dedikten sonra Sai bari beni de yalnız bırakmayın dedikten sonra üçü başka şehirlere doğru gider.</p>
      </ol>
    </div>
  </div>

<br>

{% endblock %}