{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">

    <div class="col"></div>
    <div class="col">
  
        <h1><strong>Secret World</strong></h1>
  
    </div>
    <div class="col">
  
      <h3><strong>Cüzdan : 500 Dinar</strong></h3>
  
    </div>
  
  </div>
  
  <br><br>

  <div class="card" style="width: 75rem; border-color: turquoise;">
    <div class="card-body">
      <h5 class="card-title">Final Bölümü</h5>
      <h5 class="card-title"><strong>Büyük Karşılaşma</strong></h5>
      <img src="{% static 'adventureapp/oda.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
      <ol>
      <p class="card-text">Katara dinlenmek istediği için parka gitmedi ve odasında oturdu. Odasında otururken aniden kapısı çaldı.</p>
      <p class="card-text">Kapıyı açtığında Katara Sai'yi gördü ve içeriye davet etti. Sai Katara'ya yarın ile ilgili bir planın var mı diye sordu.</p>
      <p class="card-text">Katara herhangi bir planı olmadığını o yüzden vücudunu dinlendirip tüm gücüyle sahaya çıkmak istediğini söyledi.</p>
      <p class="card-text">Sai Katara'ya bari basit de olsa bir planın olsaydı ama neyse umarım kazanırsın der ve Katara da merak etme elimden geleni yapıcam der.</p>
      </ol>
    </div>
  </div> 

<br>

<div class="card" style="width: 75rem; border-color: turquoise;">
  <div class="card-body">
    <img src="{% static 'adventureapp/bluelightning.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
    <ol>
    <p class="card-text">Final günü geldiğinde etap başlar başlamaz ikisi de hızlı şekilde ataklarla başlamış ve birbirlerinin hız ve güçlerini test etmişlerdir.</p>
    <p class="card-text">Katara buz dalgası saldırısı ve İzumi de yıldırım dalgası yapar ve saha çok şiddetli sallanır.</p>
    <p class="card-text">İzumi saldırıdan sonra hızlı şekilde küçük ama bir sürü yıldırımla saldırır ve Katara da büyük bir buzdan kalkan yaparak saldırılarının yarısını karşılar.</p>
    <p class="card-text">Katara karşı saldırı için büyük buz kalkanı İzumi'ye doğru ittirir ve İzumi de tek bir saldırısıyla büyük buzdan kalkanı çok kolay bir şekilde paramparça yapar.</p>
    </ol>
  </div>
</div>

<br>

<div class="card" style="width: 75rem; border-color: turquoise;">
  <div class="card-body">
    <img src="{% static 'adventureapp/blueice.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
    <ol>
    <p class="card-text">Katara ve İzumi karşılaşmasında İzumi'nin gücü ve hızı bariz bir şekilde daha fazla olduğu halde maç on beş dakikayı çoktan geçmiştir.</p>
    <p class="card-text">Katara hızlı bir buz dalgası yaptıktan sonra hızlı bir şekilde diğer taraftan İzumi'ye saldırdıktan sonra İzumi havaya zıplar ki bu zaten Katara'nın planının bir parçasıdır.</p>
    <p class="card-text">Katara çevik bir atlayış yapıp alttan buz dalgası saldırısı yaptıktan sonra İzumi de uzun bir yıldırım kullanarak buz dalgasında bir boşluk yapar ve oradan aşağıya iner.</p>
    <p class="card-text">Katara aşağıya inerken İzumi de hızlı bir saldırı yapar ve Katara'nın göğsünü hedefler.</p>
    <p class="card-text">Katara bu saldırıyı karşılar ama bu saldırının itmesiyle çizgiyi geçer. Katara bu duruma inanamasa da finali kaybetmiştir.</p>
  </div>
</div>

<br>

<div class="card" style="width: 75rem; border-color: turquoise;">
  <div class="card-body">
    <img src="{% static 'adventureapp/park.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
    <ol>
    <p class="card-text">Katara üzgün bir şekilde ayrılırken İzumi onu parka davet eder ve Katara da tamam , gelirim der.</p>
    <p class="card-text">Katara parka geldiğinde İzumi'yi parkta görür ve tebrik ederim , kazandın der ve İzumi de sen de gayet iyiydin , eğlenceliydi der.</p>
    <p class="card-text">Katara İzumi'ye davet ettiğin halde gelmediğim için bana kızdım mı diyince İzumi de biraz kırıldım ama vücudunu dinlendirmek isteediğin düşününce anladım der.</p>
    <p class="card-text">İzumi başka bir şehre doğru gideceğini söylerken Katara da beni de bekle , beraber gidelim der.</p>
    <p class="card-text">İzumi de madem istiyorsun o zaman olur der ve ikisi başka şehre doğru giderken onları uzaktan gören Sai sanırım onları yalnız bırakmalıyım der ve Sai de kendi yoluna doğru gider.</p>
    </ol>
  </div>
</div>

<br>

{% endblock %}