{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">

    <div class="col"></div>
    <div class="col">
  
        <h1><strong>Secret World</strong></h1>
  
    </div>
    <div class="col">
  
      <h3><strong>Cüzdan : 1.500 Dinar</strong></h3>
  
    </div>
  
  </div>
  
  <br><br>

  <div class="card" style="width: 75rem; border-color: turquoise;">
    <div class="card-body">
      <h5 class="card-title">Final Bölümü</h5>
      <h5 class="card-title"><strong>Büyük Karşılaşma</strong></h5>
      <img src="{% static 'adventureapp/greeneye.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
      <ol>
      <p class="card-text">Katara derin bir nefes alır ve Gojo'yu hızlı bir şekilde çizgi dışarı çıkarır ve sen öldürülmeye bile değmezsin der.</p>
      <p class="card-text">Katara'da bir terslik vardır. Katara Gojo'yu çizgi dışarı çıkardıktan sonra gözü düzelmemeiş ama kontrolü hala kendisindedir.</p>
      <p class="card-text">Turnuva alanındaki herkes bir değişiklik olduğunu anlasa da ses çıkarmamışlardır.</p>
      <p class="card-text">Bunu gören İzumi final maçının düşündüğünden daha heyecanlı geçeceğini düşünmüş ve kendini motive etmiştir.</p>
      </ol>
    </div>
  </div>

<br>

<div class="card" style="width: 75rem; border-color: turquoise;">
    <div class="card-body">
        <img src="{% static 'adventureapp/greenlightning.webp' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
        <ol>
      <p class="card-text">Katara final günü geldiğinde İzumi'ye bakar ve umarım ikimiz de ölmeyiz ve çok heyecanlı bir maç yaparız der ve İzumi de bu imkansızı istemeye yakın bir durum der.</p>
      <p class="card-text">Etap başladığı gibi ikisi de hızlı şekilde seri ataklarla başlamış ve birbirlerinin hız ve güçlerini test etmişlerdir.</p>
      <p class="card-text">Katara zehir dalgası saldırısı ve İzumi de yıldırım dalgası yapar ve saha çok şiddetli sallanır.</p>
      <p class="card-text">İzumi hem öldürmek istemiyorsun hem de ölümcül saldırı yapıyorsun diyince Katara da hem karşılayabileceğini biliyorum hem de tam gücümü koymazsam sen kazanırsın der.</p>
      </ol>
    </div>
  </div>

<br>

<div class="card" style="width: 75rem; border-color: turquoise;">
    <div class="card-body">
        <img src="{% static 'adventureapp/bluepoisen.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
        <ol>
      <p class="card-text">Katara ve İzumi karşılaşmasında ikisinin de güç ve hız değerleri eşit olduğu için maç yarım saati çoktan geçmiştir.</p>
      <p class="card-text">Katara hızlı bir zehir dalgası yaptıktan sonra hızlı bir şekilde diğer taraftan İzumi'ye saldırdıktan sonra İzumi havaya zıplar ki bu zaten Katara'nın planının bir parçasıdır.</p>
      <p class="card-text">Katara çevik bir atlayış yapıp alttan zehir dalgası saldırısı yaptıktan sonra İzumi de uzun bir yıldırım kullanarak zehir dalgasında bir boşluk yapar ve oradan aşağıya iner.</p>
      <p class="card-text">Katara aşağıya inerken İzumi de hızlı bir saldırı yapar ve Katara'nın göğsünü hedefler.</p>
      </ol>
    </div>
  </div>

<br>

<div class="card" style="width: 75rem; border-color: turquoise;">
    <div class="card-body">
        <img src="{% static 'adventureapp/park.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
        <ol>
      <p class="card-text">İzumi göğsüne kılıç yaklaştıkça Katara kendini geriye doğru adım atar ve İzumi'yi sınır çizgisine doğru yaklaştırır.</p>
      <p class="card-text">İzumi ne yapmak istediğini anladığı anda herşey için çok geçtir.</p>
      <p class="card-text">Katara İzumi'nin kılıcının hedefinden sıyrılır ve İzumi'yi çizginin ötesine doğru fırlatıcak bir tekme atar. Tekmeyle beraber İzumi sınır çizgisini geçer , Katara kazanan kişi olur ve ikisi de zarar görmemiş olur.</p>
      <p class="card-text">Katara İzumi'ye elini uzatıp onu çeker ve turnuva ödülünü aldıktan sonra İzumi'yi parka konuşmaya davet eder.</p>
      <p class="card-text">Katara İzumi geldiğinde onun sırrını öğrenir ve İzumi'yle beraber başka şehirlerdeki turnuvaya beraber gitmeyi istediğini söyler.</p>
      <p class="card-text">İzumi neden diye sorduğunda Katara da çünkü seni seviyorum der ve İzumi de ben de dedikten sonra ikisi başka şehirlere doğru gider.</p>
      </ol>
    </div>
  </div>

<br>

{% endblock %}