{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">

    <div class="col"></div>
    <div class="col">
  
        <h1><strong>Secret World</strong></h1>
  
    </div>
    <div class="col">
  
      <h3><strong>Cüzdan : 1.500 Dinar</strong></h3>
  
    </div>
  
  </div>
  
  <br><br>

  <div class="card" style="width: 75rem; border-color: turquoise;">
    <div class="card-body">
      <h5 class="card-title">Final Bölümü</h5>
      <h5 class="card-title"><strong>Büyük Karşılaşma</strong></h5>
      <img src="{% static 'adventureapp/oda.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
      <ol>
      <p class="card-text">Katara o işareti yaptıktan sonra İzumi hem kızarmış hem de çok utanmış şekilde koşarak odasına gitmişti.</p>
      <p class="card-text">İzumi'nin bu hareketlerine şaşıran Katara sevinçli bir şekilde Sai'nin yanına gitti.</p>
      <p class="card-text">Sai Katara'ya sanırım o da senden etkilenmiş , ne dersin diyince Katara da evet , sanırım haklısın demişti.</p>
      <p class="card-text">Katara bu olaylardan ve Sai'yle iki saat antrenmandan sonra odasına döndü.</p>
      </ol>
    </div>
  </div>

<br>

<div class="card" style="width: 75rem; border-color: turquoise;">
  <div class="card-body">
    <img src="{% static 'adventureapp/whitelightning.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
    <ol>
    <p class="card-text">Final günü geldiğinde etap başlar başlamaz ikisi de hızlı şekilde seri ataklarla başlamış ve birbirlerinin hız ve güçlerini test etmişlerdir.</p>
    <p class="card-text">Katara hava dalgası ve İzumi de yıldırım dalgası yapar ve saha çok şiddetli sallanır.</p>
    <p class="card-text">İzumi saldırından sonra hızlı şekilde küçük ama bir sürü yıldırımla saldırır ve Katara da büyük bir hortum yaparak İzumi'nin gözlerini kapatarak doğru hedeflemesini engellemek istemiştir ama bir tane de olsa küçük bir yıldırım isabet etmiştir.</p>
    <p class="card-text">Katara karşı saldırı için büyük hortumu İzumi'ye doğru ittirir ve İzumi de tek bir saldırısıyla büyük hortumu dondurmuş ve sonra da parçalara ayırmıştır.</p>
    </ol>
  </div>
</div>

<br>

<div class="card" style="width: 75rem; border-color: turquoise;">
  <div class="card-body">
    <img src="{% static 'adventureapp/whiteair.webp' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
    <ol>
    <p class="card-text">Katara ve İzumi karşılaşmasında İzumi'nin gücü ve hızı bariz bir şekilde daha fazla olduğu halde maç on beş dakikayı çoktan geçmiştir.</p>
    <p class="card-text">Katara hızlı bir hava dalgası yaptıktan sonra hızlı bir şekilde diğer taraftan İzumi'ye saldırdıktan sonra İzumi havaya zıplar ki bu zaten Katara'nın planının bir parçasıdır.</p>
    <p class="card-text">Katara çevik bir atlayış yapıp alttan hava dalgası saldırısı yaptıktan sonra İzumi de uzun bir yıldırım kullanarak hava dalgasında bir boşluk yapar ve oradan aşağıya iner.</p>
    <p class="card-text">Katara aşağıya inerken İzumi de hızlı bir saldırı yapar ve Katara'yı göğsünden yaralayarak bayıltmayı hedefler.</p>
    <p class="card-text">İzumi tam Katara'nın göğsünü kesecekken Katara da çevresindeki havayı kullanarak kılıcını son kez savurur , sonunda ikisi de yaralarından dolayı bayılır ve sonuç olarak berabere kalırlar.</p>
    </ol>
  </div>
</div>

<br>

<div class="card" style="width: 75rem; border-color: turquoise;">
  <div class="card-body">
    <img src="{% static 'adventureapp/park.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
    <ol>
    <p class="card-text">Turnuvalarda berabere kalma çok sık görülmeyen bir şey olsa da böyle durumlarda iki taraf da kabul ederse para ikiye bölünür ama kabul etmezse de bir kez daha tekrarlanır.</p>
    <p class="card-text">Üç gün sonra iki taraf da kendine geldiğinde parayı bölmeyi kabul ettiler. Olanlardan sonra İzumi Katara'yı parka çağırdı.</p>
    <p class="card-text">İzumi Katara'ya yarı final maçındaki hareketinde ciddi olup olmadığını sorunca Katara da ciddi olduğunu ve İzumi'yi sevdiğini açıkladı.</p>
    <p class="card-text">Katara peki sen ne dersin bu duruma diyince İzumi de mutlu olmuş bir yüz ifadesiyle ben de seni seviyorum dedi.</p>
    <p class="card-text">İkisi ilk defa romantik bir an yaşayacakken Sai bilmeden de olsa anı mahvetti. Sai mahvettikten sonra durumu anlasa da artık çok geçti.</p>
    <p class="card-text">Sai böyle bir anı mahvettiği için özür dilerken Katara ve İzumi ilk önce kızgın görünüp sonra gülmeye başladılar.</p>
    </ol>
  </div>
</div>

<br>

{% endblock %}