{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">

    <div class="col"></div>
    <div class="col">
  
        <h1><strong>Secret World</strong></h1>
  
    </div>
    <div class="col">
  
      <h3><strong>Cüzdan : 1.500 Dinar</strong></h3>
  
    </div>
  
  </div>
  
  <br><br>

  <div class="card" style="width: 75rem; border-color: turquoise;">
    <div class="card-body">
      <h5 class="card-title">Final Bölümü</h5>
      <h5 class="card-title"><strong>Büyük Karşılaşma</strong></h5>
      <img src="{% static 'adventureapp/oda.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
      <ol>
      <p class="card-text">Katara o işareti yaptıktan sonra İzumi'nin bakışları daha da keskinleşti.</p>
      <p class="card-text">İzumi'nin bakışlarını fark eden Katara istediğini başarmıştı ve bu bakışların keskinliğini daha da arttırmak istiyordu.</p>
      <p class="card-text">Katara İzumi'nin bütün gücüyle karşılaşmayı ve İzumi'yi öyle yenmeyi çok istiyordu.</p>
      <p class="card-text">Katara bu olaylardan sonra odasına döndü.</p>
      </ol>
    </div>
  </div>

<br>

<div class="card" style="width: 75rem; border-color: turquoise;">
    <div class="card-body">
        <img src="{% static 'adventureapp/whitelightning.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
        <ol>
      <p class="card-text">Final günü geldiğinde etap başlar başlamaz ikisi de hızlı şekilde seri ataklarla başlamış ve birbirlerinin hız ve güçlerini test etmişlerdir.</p>
      <p class="card-text">Katara hava dalgası saldırısı ve İzumi de yıldırım dalgası yapar ve saha çok şiddetli sallanır.</p>
      <p class="card-text">İzumi saldırıdan sonra hızlı şekilde küçük ama bir sürü yıldırımla saldırır ve Katara da büyük bir hortum yaparak İzumi'nin gözlerini kapatarak doğru hedeflemesini engellemek istemiştir ama bir tane de olsa küçük bir yıldırım isabet etmiştir.</p>
      <p class="card-text">Katara karşı saldırı için büyük hortumu İzumi'ye doğru ittirir ve İzumi de tek bir saldırısıyla büyük hortumu dondurmuş ve sonra da parçalara ayırmıştır.</p>
      </ol>
    </div>
  </div>

<br>

<div class="card" style="width: 75rem; border-color: turquoise;">
    <div class="card-body">
        <img src="{% static 'adventureapp/whiteair.webp' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
        <ol>
      <p class="card-text">Katara ve İzumi karşılaşmasında İzumi'nin gücü ve hızı bariz bir şekilde daha fazla olduğu halde maç on beş dakikayı çoktan geçmiştir.</p>
      <p class="card-text">Katara hızlı bir hava dalgası yaptıktan sonra hızlı bir şekilde diğer taraftan İzumi'ye saldırdıktan sonra İzumi havaya zıplar ki bu zaten Katara'nın planının bir parçasıdır.</p>
      <p class="card-text">Katara çevik bir atlayış yapıp alttan hava dalgası saldırısı yaptıktan sonra İzumi de uzun bir yıldırım kullanarak hava dalgasında bir boşluk yapar ve oradan aşağıya iner.</p>
      <p class="card-text">Katara aşağıya inerken İzumi de hızlı bir saldırı yapar ve Katara'nın boynunu hedefler.</p>
      <p class="card-text">İzumi tam Katara'nın boynunu kesecekken Katara çevresindeki havayı itme gücü olarak kullanarak İzumi'nin kılıcını kendisinden uzaklaştırır.</p>
      </ol>
    </div>
  </div>

<br>

<div class="card" style="width: 75rem; border-color: turquoise;">
    <div class="card-body">
        <img src="{% static 'adventureapp/friends.jpeg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
        <ol>
      <p class="card-text">İzumi geriye itildikten sonra tam dengesini sağlayamamışken Katara hızlı ve çok acıtmayacak bir hava dalgası saldırısı yapar.</p>
      <p class="card-text">İzumi o saldırının etkisiyle çizgi dışarısına çıkar ve kazanan Katara olur. Katara düşmüş olan İzumi'ye elini uzattıktan sonra çok eğlenceliydi , bir süre sonra tekrar yapalım der.</p>
      <p class="card-text">Bu duruma biraz şaşıran ve biraz da sevinen İzumi tamam o zaman der.</p>
      <p class="card-text">Turnuvadan sonra İzumi kendi yoluna gider . Katara da parasının yarısını Sai'ye verir ve kendi yoluna giderken arkadan bir ses duyar.</p>
      <p class="card-text">Katara'nın arkasındaki ses Sai'den geliyodur ve dur beraber gidelim daha da eğlenceli olur, değil mi der.</p>
      <p class="card-text">Evet , haklısın diyen Katara Sai'yle beraber başka şehirlere doğru beraber giderler.</p>
      </ol>
    </div>
  </div>

<br>

{% endblock %}