{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">

    <div class="col"></div>
    <div class="col">
  
        <h1><strong>Secret World</strong></h1>
  
    </div>
    <div class="col">
  
      <h3><strong>Cüzdan : 500 Dinar</strong></h3>
  
    </div>
  
  </div>
  
  <br><br>

  <div class="card" style="width: 75rem; border-color: green;">
    <div class="card-body">
      <h5 class="card-title">4. Bölüm</h5>
      <h5 class="card-title"><strong>Antrenman</strong></h5>
      <img src="{% static 'adventureapp/açık.webp' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
      <ol>
      <p class="card-text">O günün yarını Katara üstü açık antrenman merkezine geldiğinde Sai'yi de orda gördü ve yaklaşık üç saat antrenman yaptılar.</p>
      <p class="card-text">İkisi de yeterince hırpalandıktan ve biraz da dinlendikten sonra enerji toplamak için yemek yemeye gittiler.</p>
      <p class="card-text">Yemeklerini yerken Sai 3. etaptaki kişiyi nasıl yenmeyi düşünüyorsun , o benden on kat daha güçlüdür der ve Katara da o kısmı daha düşünmediğini ama elinden geleni yapacağını söyler.</p>
      <p class="card-text">Sai bir planı olmadığını anlayıp biraz hayal kırıklığına uğrasa da Katara'ya sana yardım edicem ve sen de onu yeneceksin der.</p>
      <p class="card-text">Bunu duyunca biraz daha kendini iyi hisseden Katara yemeğine devam eder.</p>
      </ol>
    </div>
  </div>

<br>

<div class="card" style="width: 75rem; border-color: green;">
  <div class="card-body">
    <img src="{% static 'adventureapp/dostluk.jpeg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
    <ol>
    <p class="card-text">Yemek yedikten sonra antrenman merkezine gidip iki saat daha antrenman yapan Katara ve Sai bir mola verirler.</p>
    <p class="card-text">Sai Katara'ya peki kazanırsan ne yapmayı düşünüyorsun diyince Katara da gökyüzüne bakarak iyi bir ev alacağını artanı da başka turnuvalar için saklayacağını söyler ve aynı soruyu Sai'ye sorar.</p>
    <p class="card-text">Sai ise köyünün çok fakir olduğunu ve köylüye vermek istediğini ama artık hayal olarak kaldığını söyler ve biraz üzülür. Katara da eğer kazanırsa ödülün yarısını Sai'ye vereceğini çünkü ona çok yardım ettiğini söyler.</p>
    <p class="card-text">Buna şaşıran Sai yüzü gülerek böyle tembellik yaparlarsa kazanamayacağını söyler ve elinden çekerek antrenmana devam etmeleri gerektiğini söyler.</p>
    </ol>
  </div>
</div>

<br>

<div class="card" style="width: 75rem; border-color: green;">
  <div class="card-body">
    <img src="{% static 'adventureapp/redkatana.jpeg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
    <ol>
    <p class="card-text">O günün yarını çeyrek finalde Katara'nın ünlü altılıdan kırmızı kılıçlı ve yine atılgan görünen birisi vardır. Adı da Yuuta'dır</p>
    <p class="card-text">Katara da Yuuta da atik şekilde saldırılar yapıyordur ama bir gariplik vardır. Yuuta'nın kılıcından resmen alevler çıkıyordur.</p>
    <p class="card-text">Alevin buza üstün geleceğini düşünen Katara Yuuta'nın zorlu bir düşman olduğunu anlamıştı. Katara bu durumdan ufak bir çizik atarak çizik sayesinde Yuuta'yı dondurarak kazanmayı planlamıştı.</p>
    <p class="card-text">En sonunda siniri bozulmaya başlayan Katara garip bir ses duyar. O ses Katara'ya onu yenmek istiyorsan sakinliğini koruman gerek der.</p>
    <p class="card-text">Katara bu sözleri mantıklı bulur ve sakinliğini sağlamaya başlar. Yuuta'nın saldırı şekillerine bakarken bir saniye de olsa küçük bir açık fark eder.</p>
    <p class="card-text">Katara derin bir nefes aldıktan sonra o açıktan faydalanarak Yuuta'yı çizgi dışarısına çıkarır. Duruma şaşıran Katara çeyrek finalden de geçer.</p>
    </ol>
  </div>
</div>

<br>

<div class="card" style="width: 75rem; border-color: green;">
  <div class="card-body">
    <img src="{% static 'adventureapp/lightning.webp' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
    <ol>
    <p class="card-text">Katara'nın yanına gelen Sai hayranlıkla çok kolay şekilde yendiğini ve antrenmanın etkisini gösterdiğini söyler.</p>
    <p class="card-text">Katara mutlu bir şekilde Sai'ye hadi gel antrenman yapalım dediğinde birlikte antrenman merkezine gittiler ve iki saat antrenman yaptılar.</p>
    <p class="card-text">Olanlardan sonra odasına gelmiş yatan Katara yarınki yarı finali kazanmak istediğini düşünüp biraz kaygılansa da yorgunluktan dolayı uykuya dalar.</p>
    <p class="card-text">Yarı finallerde ilk önce İzumi'nin maçı vardır ve Katara da Sai'nin yanında finaldeki düşmanı için bilgi toplamak amacıyla gelmiştir.</p>
    <p class="card-text">İzumi'nin karşısına gelen kişi ünlü altılıdan Rin gelmiştir. İzumi'nin maçı iki dakika sürmüş ve tek bir kılıç darbesiyle kılıcından gelen yıldırımlar Rin'i çizgiden dışarı çıkarmıştır.</p>
    <p class="card-text">İzumi turnuva alanından ayrılırken Katara'ya bakıp kılıcını ona doğru doğrultarak onu finallerde yeneceğini ve içinin rahat olduğunu göstermiştir.</p>
    </ol>
  </div>
</div>

<br>

<div class="card" style="width: 75rem; border-color: green;">
  <div class="card-body">
    <img src="{% static 'adventureapp/buz.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
    <ol>
    <p class="card-text">Katara'nın karşısına ünlü altılıdan sarı kılıçlı birisi vardı.Adı da Gojo'dur.</p>
    <p class="card-text">Gojo etap başlar başlamaz hızlı bir şekilde seri saldırılara başlar. Kılıcının özelliği olmadığı halde bu hızlı saldırılar bir çok yara bırakır.</p>
    <p class="card-text">Katara bundan kurtulmak için havaya zıplar , buzdan duvar yapar ve Gojo ile duvarın üstünde çarpışırken Katara ayağı kayar ve aşağı düşer , Gojo da sen bu saldırılarla ölen ailenden farksızsın der. Gojo Katara'nın geçmişini bir şekilde biliyordur.</p>
    <p class="card-text">Her saldırıdan sıyrıldığında laf atan Gojo'ya karşı Katara'nın sabrı azalmışken garip bir ses duyar ve o ses sakin kalmasını , buza odaklanmasını söyler.</p>
    <p class="card-text">Katara üste zıpladıktan sonra Gojo da onu havadan hızlı bir şekilde zemine çarptırır. Bunu kullanan Katara Gojo'nun düşeceği zemini buz yapar.</p>
    <p class="card-text">Gojo tam kaymak üzereyken Katara Gojo'yu buzdan duvara çarptırarak çizgi dışına çıkarır. Etaptan sonra odasının kapısının önünde bir not bulur. Notta Katara'yı şehre uzak olan parka çağırmaktadır.</p>
    </ol>
    <a href="{% url 'adventureapp:go' %}" class="btn btn-danger">Parka Git</a>
    <a href="{% url 'adventureapp:going' %}" class="btn btn-danger">Parka Gitme</a>
  </div>
</div>

<br>

{% endblock %}