{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">

    <div class="col"></div>
    <div class="col">
  
        <h1><strong>Secret World</strong></h1>
  
    </div>
    <div class="col">
  
      <h3><strong>Cüzdan : 750 Dinar</strong></h3>
  
    </div>
  
  </div>
  
  <br><br>

  <div class="card" style="width: 75rem; border-color: green;">
    <div class="card-body">
      <h5 class="card-title">4. Bölüm</h5>
      <h5 class="card-title"><strong>Antrenman</strong></h5>
      <img src="{% static 'adventureapp/açık.webp' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
      <ol>
      <p class="card-text">Katara iyileşdikten sonra üstü açık antrenman merkezine geldiğinde Sai'yi de orda gördü ve yaklaşık üç saat antrenman yaptılar.</p>
      <p class="card-text">İkisi de yeterince hırpalandıktan ve biraz da dinlendikten sonra enerji toplamak için yemek yemeye gittler.</p>
      <p class="card-text">Yemeklerini yerken Sai 3. etaptaki kişiyi nasıl yenmeyi düşünüyorsun , o benden on kat daha güçlüdür der ve Katara da o kısmı daha düşünmediğini ama elinden geleni yapacağını söyler.</p>
      <p class="card-text">Sai bir planı olmadığını anlayınca biraz şaşırıp hayal kırıklığına uğrasa da Katara'ya bakarak senin kendine güvenin var ve bende sana yardım ediceğim der.</p>
      <p class="card-text">Bunu duyunca biraz daha kendini iyi hisseden Katara yemeğine devam eder.</p>
      </ol>
    </div>
  </div>

<br>

<div class="card" style="width: 75rem; border-color: green;">
  <div class="card-body">
    <img src="{% static 'adventureapp/dostluk.jpeg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
    <ol>
    <p class="card-text">Yemek yedikten sonra antrenman merkezine gidip iki saat daha antrenman yapan Katara ve Sai bir mola verirler.</p>
    <p class="card-text">Sai Katara'ya peki kazanırsan ne yapmayı düşünüyorsun diyince Katara da gökyüzüne bakarak iyi bir ev alacağını artanı da başka turnuvalar için saklayacağını söyler ve aynı soruyu Sai'ye sorar.</p>
    <p class="card-text">Sai ise köyünün çok fakir olduğunu ve köylüye vermek istediğini ama artık hayal olarak kaldığını söyler ve biraz üzülür. Katara da eğer kazanaırsa ve Sai de isterse ödülün yarısını Sai'ye vereceğini çünkü amacının onu çok etkilediğini söyler.</p>
    <p class="card-text">Buna şaşıran Sai ilk önce kabul etmek istemese de Katara'nın ısrarıyla kabul eder ve böyle tembellik yaparlarsa kazanamayacağını söyler , elinden çekerek antrenmana devam etmeleri gerektiğini söyler.</p>
    </ol>
  </div>
</div>

<br>

<div class="card" style="width: 75rem; border-color: green;">
  <div class="card-body">
    <img src="{% static 'adventureapp/redkatana.jpeg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
    <ol>
    <p class="card-text">O günün yarını çeyrek finalde Katara'nın ünlü altılıdan kırmızı kılıçlı ve yine atılgan görünen birisi vardır. Adı da Yuuta'dır.</p>
    <p class="card-text">Katara da Yuuta da atik şekilde saldırılar yapıyordur ama bir gariplik vardır. Yuuta'nın kılıcından resmen alevler çıkıyordur.</p>
    <p class="card-text">Havanın alevi daha da güçlendireceğini düşünen Katara Yuuta'nın zorlu bir düşman olduğunu anlamıştı. Katara bu durumdan Yuuta'nın gözüne hızlı bir hava atarak görüşünü kapatmak ve ardından hızlı bir saldırı yapmayı planlamıştı.</p>
    <p class="card-text">En sonunda siniri bozulmaya başlayan Katara garip bir ses duyar. O ses onu yenmek için rüzgar kadar hızlı olması gerektiğini ve eğer izin verirse ona bu hızı sağlayabileceğini söyler.</p>
    <p class="card-text">Katara bu sözleri biraz düşündükten sonra mantıklı bulur ve tamam sana izin veriyorum der. Katara bu sözü söyledikten birkaç saniye sonra vücudunun çok hafiflediğini hisseder ve dikkatle bakınca Yuuta'nın saldırılarında çok küçük bir açık yakalar.</p>
    <p class="card-text">Katara o açık için doğru zamanı bekler ve zaman geldiğinde hızını kullanarak yaptığı saldırıyla Yuuta'yı çizgi dışarı çıkarır. Duruma sevinen Katara çeyrek finalden de geçer.</p>
    </ol>
  </div>
</div>

<br>

<div class="card" style="width: 75rem; border-color: green;">
  <div class="card-body">
    <img src="{% static 'adventureapp/lightning.webp' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
    <ol>
    <p class="card-text">Katara'nın yanına gelen Sai hayranlıkla biraz uğraştırsa da bir şekilde yendiğini ve antrenmanın etkisini gösterdiğini söylerken İzumi de mutlu ve biraz da hırslı bir bakış atar.</p>
    <p class="card-text">Katara mutlu bir şekilde Sai'ye hadi gel antrenman yapalım dediğinde birlikte antrenman merkezine gittiler ve oraya gittiklerinde bir not , notun da üstünde yarı final maçımı izlemeye gelmesi gerektiğini yazısını gördükten sonra iki saat antrenman yaptılar.</p>
    <p class="card-text">Olanlardan sonra odasına gelmiş yatan Katara yarınki yarı finali kazanmak istediğin ardından da İzumi'nin ne yapmaya çalıştığını düşünürken yorgunluktan dolayı uykuya dalar.</p>
    <p class="card-text">Yarı finallerde ilk önce İzumi'nin maçı vardır ve Katara da Sai'nin yanında hem bilgi toplamak hem de özel olarak çağırdığı için gelir.</p>
    <p class="card-text">İzumi'nin karşısına gelen kişi ünlü altılıdan Rin gelmiştir. İzumi'nin maçı iki dakika sürmüş ve tek kılıç darbesiyle kılıcından gelen yıldırımlar Rin'i çizgiden dışarı çıkarmıştır.</p>
    <p class="card-text">İzumi turnuva alanından ayrılırken Katara'ya bakıp kılıcını doğrultarak onu keseceğini göstermiştir.</p>
    </ol>
  </div>
</div>

<br>

<div class="card" style="width: 75rem; border-color: green;">
  <div class="card-body">
    <img src="{% static 'adventureapp/wind.webp' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
    <ol>
    <p class="card-text">Katara'nın karşısına ünlü altılıdan sarı kılıçlı birisi vardı. Adı da Gojo'dur.</p>
    <p class="card-text">Gojo etap başlar başlamaz hızlı bir şekilde seri saldırılara başlar. Kılıcının özelliği olmadığı halde bu hızlı saldırılar bir çok yara bırakır.</p>
    <p class="card-text">Katara bundan kurtulmak için havaya zıplar , orta çaplı bir hortum yapar ve hortumun biraz uzağiında çarpışırken Katara hızlı saldırı yapacakken ayağı kayar ve hortumun rüzgarıyla sola doğru itiler , Gojo da sen bu saldırılarla ölen ailenden farksızsın der. Gojo Katara'nın geçmişini bir şekilde biliyordur.</p>
    <p class="card-text">Her saldırıdan sıyrıldığında laf atan Gojo'ya karşı Katara'nın sabrı azalmışken garip bir ses duyar ve o ses duygularını kontrolden çıkmak yerine rüzgarının hızını arttırmak için kullanmasını söyler.</p>
    <p class="card-text">Katara odaklandıktan sonra Gojo'dan bile hızlı bir şekilde keskin bir saldırı yapar ve Gojo'yu yaralar. Duruma şaşıran Gojo temkinli olmasın düşünse de çoktan geç kalır.</p>
    <p class="card-text">Katara çok hızlı bir şekilde seri saldırılar yaparken Gojo sınır çizgisinin dibine geldiğinde Gojo son saldırıdan tam sıyırıcakken bunun bir alan saldırısı olmasıyla çizgi dışına çıkar ve Katara yarı finali kazanır.</p>
    <p class="card-text">Katara tam ayrılırken İzumi'yi görür ve İzumi'nin yaptığı gibi kılıcıyla bir şekil yapmak ister.</p>
    </ol>
    <a href="{% url 'adventureapp:neck' %}" class="btn btn-danger">Boynunu Kesicem İşareti</a>
    <a href="{% url 'adventureapp:back' %}" class="btn btn-danger">Seni Arkada Bırakıcam İşareti</a>
  </div>
</div>

<br>

{% endblock %}