{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">

    <div class="col"></div>
    <div class="col">
  
        <h1><strong>Secret World</strong></h1>
  
    </div>
    <div class="col">
  
      <h3><strong>Cüzdan : 1550 Dinar</strong></h3>
  
    </div>
  
  </div>
  
  <br><br>

  <div class="card" style="width: 75rem; border-color: gold;">
    <div class="card-body">
      <h5 class="card-title">3. Bölüm</h5>
      <h5 class="card-title"><strong>Turnuva</strong></h5>
      <img src="{% static 'adventureapp/turnuva.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
      <ol>
      <p class="card-text">Katara şehrin yanındaki köyde satılan kılıçlardan 800 dinarlık yeşil renkli güzel bir katana ve 350 dinarlık hareketini çok az kısıtlayan bir zırh aldı ve şehre girdi.</p>
      <p class="card-text">Bu şehirdeki turnuvada toplamda 32 kişiden oluşup 5 tur sürecektir.</p>
      <p class="card-text">Bu turnuvada bayılan , ölen veya sınır çizgisini geçen kişi kaybetmiş sayılacaktır ve kazanan ise her tur belli bir tutar ödül alacaktır.</p>
      <p class="card-text">1. olan kişi ise 20.000 dinar para ödülü alacaktır.</p>
      </ol>
    </div>
  </div>

<br>

<div class="card" style="width: 75rem; border-color: gold;">
  <div class="card-body">
    <img src="{% static 'adventureapp/windkatana.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
    <ol>
    <p class="card-text">Bu turnuvada garanti çeyrek finale çıkacağı düşünülen toplam 6 kişi var.Bunlar arasında en göze çarpan kişi İzumi adında soğuk bakışlı bir kızdı.</p>
    <p class="card-text">İlk etapta Katara'nın karşısına zırhına güvenen biri vardı ama ağır zırhı yüzünden yavaş hareket edebilen birisiydi.</p>
    <p class="card-text">Katara hızlı bir şekilde bir yara verdiğinde ilk rakibi birden gelen rüzgarla sınır çizgisinin dışına çıkmıştı.</p>
    <p class="card-text">Bu duruma inanamayan Katara bunun kılıcın gücü olduğunu anladı ve böylece ilk turu geçti.</p>
    </ol>
  </div>
</div>

<br>

<div class="card" style="width: 75rem; border-color: gold;">
  <div class="card-body">
    <img src="{% static 'adventureapp/karşılaşmaiki.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
    <ol>
    <p class="card-text">Katara ilk turdan sonra gece vakti kılıcına alışabilmek ve özelliğini anlamak için sıkı bir şekilde antrenman yapıyordu.</p>
    <p class="card-text">Katara'nın ikinci turdaki rakibi aynı Katara gibi hafif zırhlı ve kılıç kabiliyetine güvenen birisiydi.İsmi de Sai'ydi.</p>
    <p class="card-text">Sai Katara'nın ilk etabını izlediği için sıyrık bile almamaya çalışıyordu ve Katara'nın hep boynunu hedefliyordu dolayısıyla bu durum bir hız testine dönmüştü.</p>
    <p class="card-text">Sai Katara'nın vuruşlarını iyi okuyabiliyorken Katara Sai'nin vuruşlarını okusa bile bazı saldırılardan zırhı yüzünden sıyrılamıyor ve yaralanıyordu.</p>
    <p class="card-text">Sai Katara'nın boynuna kılıcını daha da yaklaştırırken en sonunda kılıcı Katara'nın boynuna doğru geliyordu ve bunu anlayan Katara Sai'den uzaklaşmak isteyerek kılıcını savurduğunda kılıcı küçük çaplı bir hortum oluşturmuştu ve bu hortum Sai'yi sınır çizgisinden geçirmişti.</p>
    <p class="card-text">Ne olduğunu tam anlayamasa da kazanan Kataray'dı ve Katara kazandığını anladıktan sonra yaraları yüzünden bayılmıştı.</p>
    </ol>
  </div>
</div>

<br>

<div class="card" style="width: 75rem; border-color: gold;">
  <div class="card-body">
    <img src="{% static 'adventureapp/room.webp' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
    <ol>
    <p class="card-text">Katara yavaş yavaş gözlerini açtığında hastanenin tavanını yanında ise tanıdık bir yüz , Sai'yi görür.</p>
    <p class="card-text">Katara gördüğü gibi biraz irkilir ama Sai amacının kötü olmadığını ve sakinleşmesi gerektiğini söyler.</p>
    <p class="card-text">Sai amacının Katara'nın şampiyon olması istediğini ve sebebinin de yenildiği için onu yenen kişinin şampiyon olması gerektiğini söyler.</p>
    <p class="card-text">Sai Katara'yı iyileşince üstü açık antrenman merkezine gelmesi gerektiğini söyler ve geçmiş olsun diyerek gider.</p>
    <p class="card-text">Aradan yarım saat sonra kapı açılır ve İzumi gelir , Katara İzumi'yi görünce şaşırsa da İzumi doğrudan konuya girer.</p>
    <p class="card-text">İzumi Katara'yı ilerdeki rakibi seçtiğini o yüzden güçlenmesi gerektiğini söyler ve onu büyük parka davet ederek geçmiş olsun diyerek gider.</p>
    </ol>
    <a href="{% url 'adventureapp:safeopen' %}" class="btn btn-danger">Üstü Açık Antrenman Merkezi</a>
    <a href="{% url 'adventureapp:safepark' %}" class="btn btn-danger">Büyük Park</a>
  </div>
</div>

<br>

{% endblock %}