{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">

    <div class="col"></div>
    <div class="col">
  
        <h1><strong>Secret World</strong></h1>
  
    </div>
    <div class="col">
  
      <h3><strong>Cüzdan : 750 Dinar</strong></h3>
  
    </div>
  
  </div>
  
  <br><br>

  <div class="card" style="width: 75rem; border-color: green;">
    <div class="card-body">
      <h5 class="card-title">4. Bölüm</h5>
      <h5 class="card-title"><strong>Antrenman</strong></h5>
      <img src="{% static 'adventureapp/park.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
      <ol>
      <p class="card-text">Katara iyileşdikten sonra büyük parka geldiğinde karşısında İzumi'yi gördü.</p>
      <p class="card-text">Tahta kılıçlarla antrenman yapacağını beklerken İzumi turnuvada kullandığı kılcı çekince Katara'da kendi kılıcını çekmek zorunda kaldı.</p>
      <p class="card-text">Yaklaşık iki saat süren antrenmandan sonra Katara zemine yıkılmışken İzumi hala ayakta durabiliyordu.</p>
      <p class="card-text">İzumi ona elini uzattıktan sonra ikisi oturup biraz yıldızları izlediler.</p>
      </ol>
    </div>
  </div>

<br>

<div class="card" style="width: 75rem; border-color: green;">
  <div class="card-body">
    <img src="{% static 'adventureapp/night.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
    <ol>
    <p class="card-text">Sessizliği bozan Katara İzumi'ye beni neden düşman seçtin , benden çok daha güçlü kişiler var dedi.</p>
    <p class="card-text">İzumi de ama en çok potansiyel sende o potansiyeli kullanabilirse aralarında en güçlü sen olursun dedi.</p>
    <p class="card-text">Buna sevinen Katara peki kazanırsan ne yapmayı düşünüyorsun diyince İzumi de yenmek istediğim biri için güçlü bir zırh almak istiyorum ve onun için o ödül lazım der.</p>
    <p class="card-text">Katara da o kadar güçlü bir zırh istiyorsan kesin çok güçlü biri olmalı o zaman elinden geleni yap der ve İzumi de evet , yapıcam der.</p>
    </ol>
  </div>
</div>

<br>

<div class="card" style="width: 75rem; border-color: green;">
  <div class="card-body">
    <img src="{% static 'adventureapp/redkatana.jpeg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
    <ol>
    <p class="card-text">O günün yarını çeyrek finalde Katara'nın karşısına ünlü altılıdan kırmızı kılıçlı ve yine atılgan görünen birisi vardır. Adı da Yuuta'dır.</p>
    <p class="card-text">Katara'da Yuuta'da atik şekilde saldırılar yapıyordur ama bir gariplik vardır.Yuuta'nın kılıcından resmen alevler çıkıyodur.</p>
    <p class="card-text">Havanın alevi daha da güçlendireceğini düşünen Katara Yuuta'nın zorlu bir düşman olduğunu anlamıştı. Katara bu durumdan Yuuta'nın gözüne hızlı bir hava atarak görüşünü kapatmak ve ardından hızlı bir saldırı yapmayı planlamıştı.</p>
    <p class="card-text">En sonunda siniri bozulmaya başlayan Katara garip bir ses duyar. O ses onu yenmek için rüzgar kadar hızlı olması gerektiğini ve eğer izin verirse ona bu hızı sağlayabileceğini söyler.</p>
    <p class="card-text">Katara bu sözleri biraz düşündükten sonra mantıklı bulur ve tamam sana izin veriyorum der. Katara bu sözü söyledikten birkaç saniye sonra vücudunun çok hafiflediğini hisseder ve dikkatle bakınca Yuuta'nın saldırılarında çok küçük bir açık yakalar.</p>
    <p class="card-text">Katara o açık için doğru zamanı bekler ve zaman geldiğinde hızını kullanarak yaptığı saldırıyla Yuuta'yı çizgi dışarı çıkarır. Duruma sevinen Katara çeyrek finalden de geçer.</p>
    </ol>
  </div>
</div>

<br>

<div class="card" style="width: 75rem; border-color: green;">
    <div class="card-body">
      <img src="{% static 'adventureapp/lightning.webp' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
      <ol>
    <p class="card-text">Katara'nın yanına gelen Sai onun yanına gelmediği için biraz kırılmış olsa da yine de tebrik eder ve İzumi de mutlu bir bakış atar ve eliyle başardın işareti yapar.</p>
    <p class="card-text">Katara bu sefer kırmamak için Sai'ye hadi gel antrenman yapalım dediğinde birlikte antrenman merkezine gittiler ve oraya gittiklerinde bir not , notun da üstünde finalde eğlenceli bir maç olsun , en iyini yap yazısını gördükten sonra iki saat antrenman yaptılar.</p>
    <p class="card-text">Olanlardan sonra odasına gelmiş yatan Katara yarınki yarı finali kazanmak istediğin ardından da finalde cidden eğlenceli bir maç olacağını düşünürken yorgunluktan dolayı uykuya dalar.</p>
    <p class="card-text">Yarı finallerde ilk önce İzumi'nin maçı vardır ve Katara'da Sai'nin yanında İzumi'yi desteklemek ve savaş şekli hakkında bilgi toplamak için geldi.</p>
    <p class="card-text">İzumi'nin karşısına gelen kişi ünlü altılıdan Rin gelmiştir. İzumi'nin maçı iki dakika sürmüş ve tek kılıç darbesiyle kılıcından gelen yıldırımlar Rin'i çizgiden dışarı çıkarmıştır.</p>
    <p class="card-text">İzumi turnuva alanından ayrılırken Katara'ya bakıp eliyle onu işaret ederek onu yenmeyi hedeflediğini göstermiştir.</p>
    </ol>
  </div>
</div>

<br>

<div class="card" style="width: 75rem; border-color: green;">
  <div class="card-body">
    <img src="{% static 'adventureapp/wind.webp' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
    <ol>
    <p class="card-text">Katara'nın karşısına ünlü altılıdan sarı kılıçlı birisi vardır. Adı da Gojo'dur.</p>
    <p class="card-text">Gojo etap başlar başlamaz hızlı bir şekilde seri saldırılara başlar. Kılıcının özelliği olmadığı halde bu hızlı saldırılar bir çok yara bırakır.</p>
    <p class="card-text">Katara bundan kurtulmak için havaya zıplar , orta çaplı bir hortum yapar ve hortumun biraz uzağiında çarpışırken Katara hızlı saldırı yapacakken ayağı kayar ve hortumun rüzgarıyla sola doğru itiler , Gojo da sen bu saldırılarla ölen ailenden farksızsın der. Gojo Katara'nın geçmişini bir şekilde biliyordur</p>
    <p class="card-text">Her saldırıdan sıyrıldığında laf atan Gojo'ya karşı Katara'nın sabrı azalmışken garip bir ses duyar ve o ses duygularını kontrolden çıkmak yerine rüzgarının hızını arttırmak için kullanmasını söyler.</p>
    <p class="card-text">Katara odaklandıktan sonra Gojo'dan bile hızlı bir şekilde keskin bir saldırı yapar ve Gojo'yu yaralar. Duruma şaşıran Gojo temkinli olmasın düşünse de çoktan geç kalır.</p>
    <p class="card-text">Katara çok hızlı bir şekilde seri saldırılar yaparken Gojo sınır çizgisinin dibine geldiğinde Gojo son saldırıdan tam sıyırıcakken bunun bir alan saldırısı olmasıyla çizgi dışına çıkar ve Katara yarı finali kazanır.</p>
    <p class="card-text">Katara tam ayrılırken İzumi'yi görür ve İzumi'nin yaptığı gibi havalı bir hareket yapmak ister.</p>
    </ol>
    <a href="{% url 'adventureapp:love' %}" class="btn btn-danger">Seni Seviyorum İşareti</a>
    <a href="{% url 'adventureapp:win' %}" class="btn btn-danger">Seni Yenmeyi Hedefliyorum İşareti</a>
  </div>
</div>

<br>

{% endblock %}