{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">

    <div class="col"></div>
    <div class="col">
  
        <h1><strong>Secret World</strong></h1>
  
    </div>
    <div class="col">
  
      <h3><strong>Cüzdan : 1.500 Dinar</strong></h3>
  
    </div>
  
  </div>
  
  <br><br>

  <div class="card" style="width: 75rem; border-color: turquoise;">
    <div class="card-body">
      <h5 class="card-title">Final Bölümü</h5>
      <h5 class="card-title"><strong>Büyük Karşılaşma</strong></h5>
      <img src="{% static 'adventureapp/oda.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
      <ol>
    <p class="card-text">Katara o işareti yaptıktan sonra İzumi eğlenceli bir maç olacağını düşündüğü için mutlu olmuş ve odasına gitmişti.</p>
    <p class="card-text">İzumi'nin gittiğini gören Katara mutlu bir şekilde Sai'nin yanına gitti.</p>
    <p class="card-text">Sai Katara'ya ee antrenmana ne dersin diyince Katara da evet , kesinlikle yapmalıyız demişti.</p>
    <p class="card-text">Katara Sai'yle üç saat antrenmandan sonra odasına döndü.</p>
    </ol>
    </div>
  </div>

<br>

<div class="card" style="width: 75rem; border-color: turquoise;">
    <div class="card-body">
        <img src="{% static 'adventureapp/whitelightning.jpg' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
        <ol>
      <p class="card-text">Final günü geldiğinde etap başlar başlamaz ikisi de hızlı bir şekilde seri ataklarla başlamış ve birbirlerinin hız ve güçlerini test etmişlerdir.</p>
      <p class="card-text">Katara hava dalgası ve İzumi de yıldırım dalgası yapar ve saha çok şiddetli şekilde sallanır.</p>
      <p class="card-text">İzumi saldırından sonra hızlı şekilde küçük ama bir sürü yıldırımla saldırır ve Katara da büyük bir hortum yaparak İzumi'nin gözlerini kapatarak doğru hedeflemesini engellemek istemiştir , sonuç olarak bu plan işe de yaramıştır.</p>
      <p class="card-text">Katara karşı saldırı için büyük hortumu İzumi'ye doğru ittirir ve İzumi de tek bir saldırısıyla büyük hortumu dondurmuş ve sonra da parçalara ayırmıştır.</p>
      </ol>
    </div>
  </div>

<br>

<div class="card" style="width: 75rem; border-color: turquoise;">
    <div class="card-body">
        <img src="{% static 'adventureapp/whiteair.webp' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
        <ol>
      <p class="card-text">Katara ve İzumi karşılaşmasında İzumi'nin gücü ve hızı bariz bir şekilde daha fazla olduğu halde maç yirmi beş dakikayı çoktan geçmiştir.</p>
      <p class="card-text">Katara hızlı bir hava dalgası yaptıktan sonra hızlı bir şekilde diğer taraftan İzumi'ye saldırdıktan sonra İzumi havaya zıplar ki bu zaten Katara'nın planının bir parçasıdır.</p>
      <p class="card-text">Katara çevik bir atlayış yapıp alttan hava dalgası saldırısı yaptıktan sonra İzumi de uzun bir yıldırım kullanarak hava dalgasında bir boşluk yapar ve oradan aşağıya iner.</p>
      <p class="card-text">Katara aşağıya inerken İzumi de hızlı bir saldırı yapar ve Katara'nın boynunu hedefler.</p>
      <p class="card-text">İzumi tam Katara'nın boynunu kesecekken Katara da çevresindeki havayı kullanarak hem kendisini hem de İzumi'yi çizgi dışına çıkarır ama Katara yere İzumi'den önce değecekken Katara bir hava manevrasıyla İzumi'den sonra yere değer , sonunda Katara kazanan olur.</p>
      </ol>
    </div>
  </div>

<br>

<div class="card" style="width: 75rem; border-color: turquoise;">
    <div class="card-body">
        <img src="{% static 'adventureapp/team.webp' %}" class="card-img-top" alt="..." style="width: 65rem; height: 30rem;">
        <ol>
      <p class="card-text">İzumi kaybettikten sonra Katara'ya gider ve tebrik ederim kazandın diyince Katara da o an manevrayı yapmasam sen kazanmıştın , bir ara tekrar karşılaşalım olur mu der.</p>
      <p class="card-text">Bunu duyunca biraz da olsa morali düzelen İzumi bir dahaki karşılaşmamızda der ve o gün öyle tamamlanır.</p>
      <p class="card-text">Yarın İzumi tam şehirden ayırılıcakken şehrin çıkışında Sai ve Katara'yı görür ve onlara neden burda olduklarını sorar.</p>
      <p class="card-text">Sai ve Katara da aynı anda seni uğurlamaya geldik ne de olsa artık arkadaşız der , bunu duyan İzumi şaşırmış bir halde biz ne ara arkadaş olduk der.</p>
      <p class="card-text">Katara ve Sai biz seni arkadaş olarak görüyoruz ve sen de bizi arkadaş olarak görürsen mutlu oluruz dedikten sonra İzumi de iyi o zaman artık arkadaşız der.</p>
      <p class="card-text">Bu duruma sevinen Katara ve Sai o zaman ekip halinde turnuvalara ne dersin diyince İzumi bunun biraz planlanmış olduğunu düşünür.</p>
      <p class="card-text">İzumi de tamam o zaman artık biz ekibiz diyince Katara , Sai ve İzumi bir ekip halinde başka şehire doğru giderler.</p>
      </ol>
    </div>
  </div>

<br>

{% endblock %}